.p- {
    &0 { padding:0 !important;
    }
    &4 { padding:4px !important; }
}
.pb- {
    &0 { padding-bottom:0 !important; }
    &4 { padding-bottom:4px !important; }
    &8 { padding-bottom:8px !important; }
}