.header {
    z-index:1000;
    width:100%;
    height:4em * 2;
    background:rgba(0,0,0,0.8);
    @include center-x(50%);
    @include screenFull {
        height:4em;
    }
    &--link {
        z-index:2000;
        display:inline-block;
        position:relative;
        &--container {
            display:flex;
            justify-content:center;
            margin:auto;
            max-width:1200px;
            @include screenFull {
                display:block;
            }
        }
    }
    &--container {
        text-align:center;
        width:100%;
        height:4em;
        @include center-xy(50%, calc(50% + 32px));
        @include screenFull {
            @include center-xy(50%, 50%);
        }
        a {
            color:#fff;
            text-decoration:none;
            font-size:1.5em;
            font-weight:100;
            box-sizing:border-box;
            margin:0 0;
            padding:16px 4px;
            @include screenSmall {
                margin:0 12px 0 12px;
                padding:16px 8px;
            }
            @include screenLarge {
                margin:0 24px 0 24px;
            }
        }
    }
    &--item {
        z-index:2000;
        display:inline-block;
        position:relative;
        height:100%;
        &--home {
            display:none;
            @include screenSmall {
                display:inline-block;
            }
        }
        &:hover {
            color:$colorGreen;
            cursor:pointer;
        }
    }
    &--text--hover {
        color:$colorGreen !important;
    }
}