@mixin trim ($color) {
    &:after {
        content:'';
        height:8px;
        width:100%;
        position:absolute;
        background:$color;
        bottom:0;
    }
    &:before {
        content:'';
        height:224px;
        width:64px;
        background-image:url("../img/icons/arrow.png");
        background-repeat:no-repeat;
        background-color:$color;
        background-position:center;
        position:absolute;
        top:0;
        right:-64px;
        transition:right 200ms;
    }
}
@mixin card--item {
    justify-self:center;
    width:320px;
    height:400px;
    font-weight:100;
    position:relative;
    text-decoration:none;
    overflow:hidden;
    &:hover::before {
        right:0;
        transition:right 200ms;
    }
    h3 {
        font-size:1.6em;
        font-weight:400;
        margin-bottom:0.4em;
    }
    p {
        font-size:1.2em;
        font-weight:100;
        color:#000;
    }
}

.card {
    &--container {
        display:grid;
        grid-template-columns:repeat(auto-fill, 320px);
        @include screenSmall {
            grid-template-columns:repeat(auto-fill, 340px);
        }        
        grid-row-gap:40px;
        justify-content:space-around;
        &--item {
            &__blue {
                @include trim($colorBlue);
                @include card--item;
            }
            &__purple {
                @include trim($colorPurple);
                @include card--item;
            }
            &__green {
                @include trim($colorGreen);
                @include card--item;
            }
        }
    }
    &--button {
        @include twoColumns { display:none; }
        @include threeColumns { display:block; }
    }
    &--buttonGrid {
        @include twoColumns { display:block; }
        @include threeColumns { display:none; }
        width:320px;
        height:400px;
        margin:0 auto;
        line-height:400px;
    }
}