.blue {
  color: #5fbbdd; }

.purple {
  color: #5f70dd; }

.green {
  color: #72beab; }

.bg-blue {
  background-color: #5fbbdd; }

.bg-purple {
  background-color: #5f70dd; }

.bg-green {
  background-color: #72beab; }

.blueDark {
  color: #19a1d3; }

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: "Source Sans"; }

a {
  outline: none; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@font-face {
  font-family: "Source Sans";
  src: url("../../fonts/SourceSansPro-Light.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Source Sans";
  src: url("../../fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Source Sans";
  src: url("../../fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 700;
  font-style: normal; }

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0;
  overflow: hidden; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .container {
      padding: 0 32px;
      box-sizing: border-box; } }
  .container__fill {
    width: 100%; }

.p-0 {
  padding: 0 !important; }

.p-4 {
  padding: 4px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-4 {
  padding-bottom: 4px !important; }

.pb-8 {
  padding-bottom: 8px !important; }

.title {
  color: #5acab1;
  text-align: center;
  font-size: 3em;
  padding: 72px 0 32px 0; }

.article {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 900px; }
  .article a:first-of-type {
    position: absolute;
    top: 80px;
    text-decoration: none;
    color: #5fbbdd; }
    .article a:first-of-type:hover {
      text-decoration: underline; }
  .article h1 {
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
    color: #72beab;
    padding-bottom: 16px;
    padding-top: 32px; }
  .article h2 {
    color: #72beab;
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 16px;
    padding-top: 24px;
    padding-left: 16px; }
  .article p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.6em;
    padding-bottom: 16px; }
  .article--link {
    position: absolute;
    top: 80px;
    text-decoration: none;
    color: #5fbbdd; }
    .article--link:hover {
      text-decoration: underline; }
  .article--donate {
    margin: 48px auto auto auto;
    display: block;
    border-radius: 8px;
    background: #5f70dd;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 0 24px 0;
    max-width: 600px; }
    .article--donate h2 {
      color: #fff;
      text-align: center;
      padding: 0; }
    .article--donate--container {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 16px; }
      .article--donate--container span {
        font-size: 1.5em; }
      .article--donate--container--number {
        font-size: 1.5em;
        font-weight: 100;
        width: 160px;
        margin: 0 8px;
        color: #333;
        border: 0;
        outline: none; }
      .article--donate--container--submit {
        border: 2px solid #fff;
        border-radius: 4px;
        background: #5f70dd;
        color: #fff;
        font-size: 1.1em;
        outline: none;
        padding: 0 16px; }
        .article--donate--container--submit:hover {
          cursor: pointer; }
  .article--img__float {
    float: left;
    padding-right: 32px;
    padding-top: 16px; }
  .article--figure {
    margin: 16px auto 32px auto;
    border: 16px solid #eee;
    border-bottom: 0;
    max-width: 480px; }
    .article--figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
      display: block; }
    .article--figure p {
      background: #eee;
      margin: auto;
      max-width: 480px;
      padding-top: 16px;
      font-size: 1.1em; }

.button__white {
  width: 288px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 32px;
  text-align: center;
  font-size: 1.8em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  transition: all 200ms; }
  .button__white:hover {
    background: #fff;
    color: #000;
    transition: all 200ms; }

.button__purple {
  width: 288px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 32px;
  text-align: center;
  font-size: 1.8em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 8px;
  border: 2px solid #5f70dd;
  color: #5f70dd;
  transition: all 200ms; }
  .button__purple:hover {
    background: #5f70dd;
    color: #fff;
    transition: all 200ms; }

.button__blue {
  width: 288px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 32px;
  text-align: center;
  font-size: 1.8em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 8px;
  border: 2px solid #5fbbdd;
  color: #5fbbdd;
  transition: all 200ms; }
  .button__blue:hover {
    background: #5fbbdd;
    color: #fff;
    transition: all 200ms; }

.button__green {
  width: 288px;
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 32px;
  text-align: center;
  font-size: 1.8em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 8px;
  border: 2px solid #5acab1;
  color: #5acab1;
  transition: all 200ms; }
  .button__green:hover {
    background: #5acab1;
    color: #fff;
    transition: all 200ms; }

.card--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-row-gap: 40px;
  justify-content: space-around; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .card--container {
      grid-template-columns: repeat(auto-fill, 340px); } }
  .card--container--item__blue {
    justify-self: center;
    width: 320px;
    height: 400px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden; }
    .card--container--item__blue:after {
      content: '';
      height: 8px;
      width: 100%;
      position: absolute;
      background: #5fbbdd;
      bottom: 0; }
    .card--container--item__blue:before {
      content: '';
      height: 224px;
      width: 64px;
      background-image: url("../img/icons/arrow.png");
      background-repeat: no-repeat;
      background-color: #5fbbdd;
      background-position: center;
      position: absolute;
      top: 0;
      right: -64px;
      transition: right 200ms; }
    .card--container--item__blue:hover::before {
      right: 0;
      transition: right 200ms; }
    .card--container--item__blue h3 {
      font-size: 1.6em;
      font-weight: 400;
      margin-bottom: 0.4em; }
    .card--container--item__blue p {
      font-size: 1.2em;
      font-weight: 100;
      color: #000; }
  .card--container--item__purple {
    justify-self: center;
    width: 320px;
    height: 400px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden; }
    .card--container--item__purple:after {
      content: '';
      height: 8px;
      width: 100%;
      position: absolute;
      background: #5f70dd;
      bottom: 0; }
    .card--container--item__purple:before {
      content: '';
      height: 224px;
      width: 64px;
      background-image: url("../img/icons/arrow.png");
      background-repeat: no-repeat;
      background-color: #5f70dd;
      background-position: center;
      position: absolute;
      top: 0;
      right: -64px;
      transition: right 200ms; }
    .card--container--item__purple:hover::before {
      right: 0;
      transition: right 200ms; }
    .card--container--item__purple h3 {
      font-size: 1.6em;
      font-weight: 400;
      margin-bottom: 0.4em; }
    .card--container--item__purple p {
      font-size: 1.2em;
      font-weight: 100;
      color: #000; }
  .card--container--item__green {
    justify-self: center;
    width: 320px;
    height: 400px;
    font-weight: 100;
    position: relative;
    text-decoration: none;
    overflow: hidden; }
    .card--container--item__green:after {
      content: '';
      height: 8px;
      width: 100%;
      position: absolute;
      background: #5acab1;
      bottom: 0; }
    .card--container--item__green:before {
      content: '';
      height: 224px;
      width: 64px;
      background-image: url("../img/icons/arrow.png");
      background-repeat: no-repeat;
      background-color: #5acab1;
      background-position: center;
      position: absolute;
      top: 0;
      right: -64px;
      transition: right 200ms; }
    .card--container--item__green:hover::before {
      right: 0;
      transition: right 200ms; }
    .card--container--item__green h3 {
      font-size: 1.6em;
      font-weight: 400;
      margin-bottom: 0.4em; }
    .card--container--item__green p {
      font-size: 1.2em;
      font-weight: 100;
      color: #000; }

@media screen and (min-width: 760px) and (max-width: 1099px) and (min-height: 480px) {
  .card--button {
    display: none; } }

@media screen and (max-width: 759px), (min-width: 1099px) {
  .card--button {
    display: block; } }

.card--buttonGrid {
  width: 320px;
  height: 400px;
  margin: 0 auto;
  line-height: 400px; }
  @media screen and (min-width: 760px) and (max-width: 1099px) and (min-height: 480px) {
    .card--buttonGrid {
      display: block; } }
  @media screen and (max-width: 759px), (min-width: 1099px) {
    .card--buttonGrid {
      display: none; } }

.card-alt--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 528px);
  justify-content: space-around; }
  .card-alt--container--item__purple {
    margin-bottom: 24px;
    width: 528px;
    text-decoration: none;
    display: block; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .card-alt--container--item__purple {
        display: grid;
        grid-template-columns: 224px 1fr; } }
    .card-alt--container--item__purple img {
      display: none; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__purple img {
          display: block; } }
    .card-alt--container--item__purple:hover div h4 {
      color: #fff;
      background: #5f70dd;
      transition: all 150ms; }
    .card-alt--container--item__purple div {
      margin-left: 32px;
      margin-right: 32px;
      position: relative;
      height: 100%; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__purple div {
          margin-right: auto; } }
      .card-alt--container--item__purple div h3 {
        font-size: 1.6em;
        font-weight: 400;
        margin-bottom: 16px; }
      .card-alt--container--item__purple div p {
        font-size: 1.2em;
        font-weight: 100;
        color: #000;
        margin-bottom: 16px; }
        @media screen and (min-width: 568px) and (min-height: 480px) {
          .card-alt--container--item__purple div p {
            margin-bottom: auto; } }
      .card-alt--container--item__purple div h4 {
        color: #5f70dd;
        border: 2px solid #5f70dd;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        height: 1.6em;
        border-radius: 8px;
        line-height: 1.6em;
        position: absolute;
        top: calc(100% - 0.8em);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: all 150ms; }
  .card-alt--container--item__blue {
    margin-bottom: 24px;
    width: 528px;
    text-decoration: none;
    display: block; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .card-alt--container--item__blue {
        display: grid;
        grid-template-columns: 224px 1fr; } }
    .card-alt--container--item__blue img {
      display: none; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__blue img {
          display: block; } }
    .card-alt--container--item__blue:hover div h4 {
      color: #fff;
      background: #5fbbdd;
      transition: all 150ms; }
    .card-alt--container--item__blue div {
      margin-left: 32px;
      margin-right: 32px;
      position: relative;
      height: 100%; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__blue div {
          margin-right: auto; } }
      .card-alt--container--item__blue div h3 {
        font-size: 1.6em;
        font-weight: 400;
        margin-bottom: 16px; }
      .card-alt--container--item__blue div p {
        font-size: 1.2em;
        font-weight: 100;
        color: #000;
        margin-bottom: 16px; }
        @media screen and (min-width: 568px) and (min-height: 480px) {
          .card-alt--container--item__blue div p {
            margin-bottom: auto; } }
      .card-alt--container--item__blue div h4 {
        color: #5fbbdd;
        border: 2px solid #5fbbdd;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        height: 1.6em;
        border-radius: 8px;
        line-height: 1.6em;
        position: absolute;
        top: calc(100% - 0.8em);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: all 150ms; }
  .card-alt--container--item__green {
    margin-bottom: 24px;
    width: 528px;
    text-decoration: none;
    display: block; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .card-alt--container--item__green {
        display: grid;
        grid-template-columns: 224px 1fr; } }
    .card-alt--container--item__green img {
      display: none; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__green img {
          display: block; } }
    .card-alt--container--item__green:hover div h4 {
      color: #fff;
      background: #5acab1;
      transition: all 150ms; }
    .card-alt--container--item__green div {
      margin-left: 32px;
      margin-right: 32px;
      position: relative;
      height: 100%; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .card-alt--container--item__green div {
          margin-right: auto; } }
      .card-alt--container--item__green div h3 {
        font-size: 1.6em;
        font-weight: 400;
        margin-bottom: 16px; }
      .card-alt--container--item__green div p {
        font-size: 1.2em;
        font-weight: 100;
        color: #000;
        margin-bottom: 16px; }
        @media screen and (min-width: 568px) and (min-height: 480px) {
          .card-alt--container--item__green div p {
            margin-bottom: auto; } }
      .card-alt--container--item__green div h4 {
        color: #5acab1;
        border: 2px solid #5acab1;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        height: 1.6em;
        border-radius: 8px;
        line-height: 1.6em;
        position: absolute;
        top: calc(100% - 0.8em);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: all 150ms; }

.landing {
  padding-top: 32px; }
  .landing p {
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.54em;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 32px; }

.portrait {
  padding-bottom: 32px; }
  .portrait:nth-child(odd) {
    background: #b2fae8; }
  .portrait:nth-child(even) {
    background: #e0fdf6; }
  .portrait a {
    text-decoration: none; }
  .portrait--container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 192px);
    grid-row-gap: 40px;
    justify-content: space-around; }
    .portrait--container h3 {
      text-align: center;
      text-decoration: none;
      font-size: 1.5em; }
    .portrait--container--item__blue {
      justify-self: center;
      width: 160px;
      position: relative; }
      .portrait--container--item__blue:hover img {
        border: 4px solid #19a1d3;
        transition: border 120ms; }
      .portrait--container--item__blue img {
        border-radius: 50%;
        border: 4px solid #fff;
        transition: border 120ms; }

.header {
  z-index: 1000;
  width: 100%;
  height: 8em;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .header {
      height: 4em; } }
  .header--link {
    z-index: 2000;
    display: inline-block;
    position: relative; }
    .header--link--container {
      display: flex;
      justify-content: center;
      margin: auto;
      max-width: 1200px; }
      @media screen and (min-width: 1200px) and (min-height: 480px) {
        .header--link--container {
          display: block; } }
  .header--container {
    text-align: center;
    width: 100%;
    height: 4em;
    position: absolute;
    top: calc(50% + 32px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 1200px) and (min-height: 480px) {
      .header--container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    .header--container a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 100;
      box-sizing: border-box;
      margin: 0 0;
      padding: 16px 4px; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .header--container a {
          margin: 0 12px 0 12px;
          padding: 16px 8px; } }
      @media screen and (min-width: 900px) and (min-height: 480px) {
        .header--container a {
          margin: 0 24px 0 24px; } }
  .header--item {
    z-index: 2000;
    display: inline-block;
    position: relative;
    height: 100%; }
    .header--item--home {
      display: none; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .header--item--home {
          display: inline-block; } }
    .header--item:hover {
      color: #5acab1;
      cursor: pointer; }
  .header--text--hover {
    color: #5acab1 !important; }

.footer {
  height: 96px;
  width: 100%;
  background: #5fbbdd;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .footer p {
    color: #fff;
    font-size: 1.3em; }
  .footer div img {
    margin: 0 8px;
    transition: opacity 120ms; }
    .footer div img:hover {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 120ms; }

.intro {
  height: 640px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg/jellyfish01--tiny.jpg");
  display: flex;
  align-items: center; }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .intro {
      background-image: url("../img/bg/jellyfish01--small.jpg"); } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .intro {
      background-image: url("../img/bg/jellyfish01--medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .intro {
      background-image: url("../img/bg/jellyfish01--large.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .intro {
      background-image: url("../img/bg/jellyfish01--full.jpg"); } }
  .intro--container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .intro--container {
        display: block;
        padding-top: 96px; } }
    .intro--container h1, .intro--container h2, .intro--container a {
      color: #fff;
      margin: auto; }
    .intro--container h1 {
      text-align: center;
      font-size: 4em; }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .intro--container h1 {
          margin-top: 32px;
          font-size: 5.5em; } }
      @media screen and (min-width: 1200px) and (min-height: 480px) {
        .intro--container h1 {
          text-align: left;
          margin-left: 160px; } }
      .intro--container h1 span {
        color: #c2d9ae; }
    .intro--container h2 {
      text-align: center;
      font-size: 2em;
      margin-top: 0.25em; }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .intro--container h2 {
          font-size: 3.5em;
          margin-top: 0.5em; }
          .intro--container h2:last-of-type {
            padding-left: 96px; } }
    .intro--container a {
      font-size: 2em;
      display: block;
      width: calc(100% - 2em);
      height: 2em;
      text-align: center;
      line-height: 2em;
      text-decoration: none;
      font-weight: 700;
      bottom: 64px;
      border: 1px solid #fff;
      border-radius: 8px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media screen and (min-width: 768px) and (min-height: 480px) {
        .intro--container a {
          font-size: 2.4em;
          padding: 4px 32px;
          display: inline-block;
          width: auto;
          height: 1.5em;
          line-height: 1.5em; } }

.exhibits h1 {
  padding-top: 48px; }

@media screen and (min-width: 568px) and (min-height: 480px) {
  .visit {
    padding: 0 32px; } }

.visit--container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 600px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .visit--container {
      height: auto;
      flex-wrap: nowrap; } }

.visit--information--item {
  padding: 8px 0;
  display: flex;
  align-items: center;
  font-size: 1.2em; }
  .visit--information--item img {
    display: none; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .visit--information--item img {
        display: inline-block; } }
  .visit--information--item span {
    margin-left: 16px;
    font-weight: 100;
    font-size: 1.1em; }
  .visit--information--item div {
    display: flex;
    justify-content: space-between;
    width: 300px; }
    .visit--information--item div span {
      margin: 0 0 0 16px; }
      .visit--information--item div span:first-of-type {
        float: left; }
      .visit--information--item div span:last-of-type {
        float: right; }
  .visit--information--item__right {
    padding: 0 0;
    margin-left: 0; }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .visit--information--item__right {
        margin-left: 32px; } }
  .visit--information--item--toggle {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 16px; }
    .visit--information--item--toggle:hover {
      cursor: pointer; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .visit--information--item--toggle {
        display: none; } }

.visit--map {
  width: 80%;
  height: 320px; }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .visit--map {
      width: 40%; } }

.support {
  padding-bottom: 96px; }

.about-intro {
  overflow: hidden;
  position: relative;
  height: 640px;
  box-sizing: border-box;
  padding-top: 96px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg/interior01--tiny.jpg"); }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .about-intro {
      background-image: url("../img/bg/interior01--small.jpg"); } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .about-intro {
      background-image: url("../img/bg/interior01--medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .about-intro {
      background-image: url("../img/bg/interior01--large.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .about-intro {
      background-image: url("../img/bg/interior01--full.jpg"); } }
  .about-intro--container {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    width: 100%;
    height: calc(100% - 192px);
    padding: 32px 0;
    position: absolute;
    top: calc(50% + 64px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 568px) and (min-height: 480px) {
      .about-intro--container {
        position: absolute;
        top: calc(50% + 32px);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 32px 80px;
        width: auto;
        height: auto; } }
    .about-intro--container h2 {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 2.2em;
      margin: auto; }
      .about-intro--container h2 span {
        color: #c2d9ae; }
      @media screen and (min-width: 568px) and (min-height: 480px) {
        .about-intro--container h2 {
          font-size: 2.7em;
          width: 12em;
          padding-left: 0;
          padding-right: 0; } }

.about-gallery {
  display: block;
  margin-top: 48px;
  margin-bottom: 64px;
  height: 96px;
  max-width: 1100px;
  background: url("../img/bg/gallery01.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  line-height: 96px;
  font-size: 2.5em;
  font-weight: 700;
  text-decoration: none;
  transition: color 150ms; }
  .about-gallery:hover {
    color: #fff;
    transition: color 150ms; }

.gallery {
  background: #000; }
  .gallery--container {
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;
    grid-gap: 8px; }
    .gallery--container img:hover {
      cursor: pointer; }

.modal {
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none; }
  .modal--img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.animal {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 960px; }
  .animal--image {
    margin-bottom: 32px; }
    .animal--image img {
      display: block;
      margin: auto;
      border: 8px solid #eee;
      margin-top: 32px; }
  .animal--right {
    float: right;
    padding-left: 32px; }
  .animal a:first-of-type {
    position: absolute;
    top: 80px;
    text-decoration: none;
    color: #5fbbdd; }
    .animal a:first-of-type:hover {
      text-decoration: underline; }
  .animal p {
    font-size: 1.1em;
    line-height: 1.5em; }
  .animal h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 0; }
  .animal h2 {
    padding-top: 32px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 1.8em; }

.explore-intro {
  overflow: hidden;
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg/coral02--tiny.jpg"); }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .explore-intro {
      background-image: url("../img/bg/coral02--small.jpg"); } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .explore-intro {
      background-image: url("../img/bg/coral02--medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .explore-intro {
      background-image: url("../img/bg/coral02--large.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .explore-intro {
      background-image: url("../img/bg/coral02--full.jpg"); } }
  .explore-intro--container {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 32px 80px;
    position: absolute;
    top: calc(50% + 32px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .explore-intro--container h2 {
      box-sizing: border-box;
      width: 12em;
      font-size: 2.7em; }
      .explore-intro--container h2 span {
        color: #c2d9ae; }
      .explore-intro--container h2:last-of-type {
        margin-bottom: 16px; }
      .explore-intro--container h2:first-of-type {
        margin-top: 16px; }

.explore-exhibits h1 {
  padding-top: 16px; }

.explore-animals h1 {
  padding-top: 32px; }

.explore-animals h2 {
  font-size: 1.6em;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: #333; }

.awards {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 224px);
  justify-content: center; }

.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
  min-height: calc(100vh - 224px); }
  .reviews h1 {
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
    color: #72beab;
    padding-bottom: 16px;
    padding-top: 32px; }
  .reviews--container {
    background: #c3ebe2;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 800px;
    margin: auto; }
    .reviews--container--slides {
      display: flex;
      justify-content: space-around;
      transition: margin-left 220ms;
      position: relative; }

.review {
  width: 800px;
  box-sizing: border-box;
  color: #1c647e;
  padding: 32px 64px;
  position: relative; }
  .review--arrow {
    position: absolute;
    z-index: 1000; }
    .review--arrow:hover {
      cursor: pointer; }
    .review--arrow--left {
      position: absolute;
      top: 50%;
      left: calc(50% - 360px);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: none; }
    .review--arrow--right {
      position: absolute;
      top: 50%;
      left: calc(50% + 360px);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .review h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 16px; }
    .review h3:before {
      content: '"'; }
    .review h3:after {
      content: '"'; }
  .review h4 {
    text-align: center;
    margin-top: 32px;
    font-size: 1.3em; }
  .review p {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center; }
    .review p:before {
      content: '"';
      font-family: "Times New Roman";
      font-size: 3em;
      position: absolute;
      left: 64px; }
    .review p:after {
      content: '"';
      font-family: "Times New Roman";
      font-size: 3em;
      position: absolute;
      right: 64px; }

.visit-main {
  position: relative;
  height: 640px;
  box-sizing: border-box;
  padding-top: 96px;
  color: #fff;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg/coral01--tiny.jpg"); }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .visit-main {
      background-image: url("../img/bg/coral01--small.jpg"); } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .visit-main {
      background-image: url("../img/bg/coral01--medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .visit-main {
      background-image: url("../img/bg/coral01--large.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .visit-main {
      background-image: url("../img/bg/coral01--full.jpg"); } }
  .visit-main--container {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 64px 0;
    height: 480px; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .visit-main--container {
        height: auto; } }
  .visit-main--map {
    display: none; }
    @media screen and (min-width: 768px) and (min-height: 480px) {
      .visit-main--map {
        display: block; } }

.visit-contact--button {
  color: #fff;
  text-align: center;
  background: #5fbbdd;
  padding: 4px 0;
  user-select: none; }
  .visit-contact--button:hover {
    cursor: pointer; }

.visit-contact--form {
  display: flex;
  justify-content: center;
  padding-bottom: 64px; }
  .visit-contact--form--container input, .visit-contact--form--container textarea {
    width: 320px;
    margin-bottom: 8px; }
  .visit-contact--form--container textarea {
    resize: none;
    height: 192px;
    margin-bottom: 16px; }

.support-intro {
  overflow: hidden;
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/bg/puffin01--tiny.jpg"); }
  @media screen and (min-width: 568px) and (min-height: 480px) {
    .support-intro {
      background-image: url("../img/bg/puffin01--small.jpg"); } }
  @media screen and (min-width: 768px) and (min-height: 480px) {
    .support-intro {
      background-image: url("../img/bg/puffin01--medium.jpg"); } }
  @media screen and (min-width: 900px) and (min-height: 480px) {
    .support-intro {
      background-image: url("../img/bg/puffin01--large.jpg"); } }
  @media screen and (min-width: 1200px) and (min-height: 480px) {
    .support-intro {
      background-image: url("../img/bg/puffin01--full.jpg"); } }
  .support-intro--container {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 32px 80px;
    position: absolute;
    top: calc(50% + 128px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .support-intro--container h2 {
      box-sizing: border-box;
      width: 12em;
      font-size: 2.7em; }
      .support-intro--container h2 span {
        color: #c2d9ae; }
      .support-intro--container h2:last-of-type {
        margin-bottom: 16px; }
      .support-intro--container h2:first-of-type {
        margin-top: 16px; }

.support-main--container {
  margin-bottom: 64px; }
